:root {
  --green: #48A411
}

.starting {
  margin: 9rem auto;
}

.intro {
  margin-left: 25%;
  border-radius: 6px;
  justify-content: center;

}

.intro h1 {
  position: relative;
  margin-top: -5%;
  font-size: 3rem;
  color: #48A411;
}

.intro p {
  position: relative;
  margin-top: -4%;
  color: #48A411;
}

.starting button {
  margin: 10px;
  width: 220px;
  height: 35px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  background-color: #48A411;
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}