.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: #077732;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }

.header h1 {
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.profile {
  position: absolute;
  right: 10%;
}

.profile a {
  text-decoration: none;
}

.profile h3 {
  font-size: 40px;
  justify-content: center;
  cursor: pointer;
  color: white;
}

.profile h3:hover {
  color: rgb(173, 165, 165);
}

.complete {
  position: absolute;
  right: 15%;
}

.complete h3 {
  text-align: center;
  font-size: 30px;  
  color: rgb(153, 14, 14);  
}

.complete h3:hover {
  color: red;
}
